.filter {
    margin: 0;
    padding: 0;
    list-style: none;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
}

.filter li {
    margin: 0px 3px;
    padding: 3px 7px;
    cursor: pointer;
    border: 1px solid rgba(175, 47, 47, 0);
    border-radius: 5px;
}
.filter li:hover {
    border: 1px solid rgba(175, 47, 47, 0.4);
}

.group-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.active-filter {
    border: 1px solid rgba(175, 47, 47, 0.4) !important;
}
.clear-all {
    cursor: pointer;
}
.clear-all:hover {
    text-decoration: underline;
}
